.post {
  width: 30%;

  padding: 20px;
  margin: 0 20px 20px 0;

  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;

  & p {
    margin: 0;
  }

  & span {
    font-weight: bold;
  }

  .desc {
    margin: 20px 0;
  }
}

@media (max-width: 767px) {
  .post {
    width: 100%;
  }
}

